﻿@using MoneyTransfer.ViewModels
@model MoneyTransfer.ViewModels.LoginViewModel

@using Microsoft.AspNetCore.Mvc.Localization;
@inject IViewLocalizer Localizer

<h2>Вход</h2>
<form method="post" asp-controller="Account" asp-action="Login"
      asp-route-returnUrl="@Model.ReturnUrl">
    <div asp-validation-summary="ModelOnly"></div>
    <div>
        <label asp-for="INN">@Localizer["INN"]</label><br />
        <input asp-for="INN" />
        <span asp-validation-for="INN"></span>
    </div>
    <div>
        <label asp-for="Password">@Localizer["Password"]</label><br />
        <input asp-for="Password" />
        <span asp-validation-for="Password"></span>
    </div>
    <div>
        <label asp-for="RememberMe"></label><br />
        <input asp-for="RememberMe" />
    </div>
    <div>
        <input type="submit" value="Войти" />
    </div>
</form>