﻿@model MoneyTransfer.ViewModels.RepleshViewMoney
@using Microsoft.AspNetCore.Mvc.Localization;
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = "Send";
}
<h2 style="padding:20px">Пополнить баланс</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Replenish">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="PersonalId" class="control-label">@Localizer["inn"]</label>
                <input asp-for="PersonalId" class="form-control" />
                <span asp-validation-for="PersonalId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Money" class="control-label">@Localizer["money"]</label>
                <input asp-for="Money" class="form-control" />
                <span asp-validation-for="Money" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" id="send" value="@Localizer["button"]" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>


<script>
    $('#send').alert("polpol")

</script>


