﻿@model IEnumerable<MoneyTransfer.Models.Tranzaction>
@{
    ViewData["Title"] = "Story";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h4 style="padding-top:40px">История транзакций</h4>



<table class="table">
    <thead>
        <tr>

            <th>
                Отправитель
            </th>
            <th>
               Время 
            </th>
            <th>
               Сумма
            </th>
            <th>
               Получатель
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.Contragent.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Sum)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.User.UserName)
                </td>

            </tr>
        }
    </tbody>
</table>
