﻿@model MoneyTransfer.Models.User

@using Microsoft.AspNetCore.Mvc.Localization;
@inject IViewLocalizer Localizer

@{

    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (User.Identity.IsAuthenticated)
{

<dt style="padding-top:40px">
    @Localizer["Account"]
</dt>
    <dd>
        @Html.DisplayFor(model => model.PersonalAccount)

    </dd>
    <dt>
        @Localizer["Bill"]
    </dt>
    <dd>
        @Html.DisplayFor(model => model.Balance)

    </dd>

    <dd>
        <p>
            <a asp-controller="Transfer" asp-action="Send" style="font-size: 15px"> @Localizer["Send"]</a>
        </p>

    </dd>
}


